{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="homepage">

    <div class="main home">

        <div id="wheel-1">
            <img src="images/rt-wheel.svg">
        </div>
        <div id="wheel-2">
            <img src="images/rt-wheel.svg">
        </div>
        {{/*
        <div id="wheel-3">
            <img src="images/rt-wheel.svg">
        </div>
        */}}


        {{ partial "recent-release.html" . }}


        <section class='container mt-4'>
            <div class='row justify-content-center'>
                <div class='col-10 text-center'>
                    <h5 class='mb-0 d-inline-block border-bottom border-secondary'>Latest News</h5>
                    <div class='d-flex flex-column flex-lg-row flex-wrap justify-content-center mt-1'>
                        {{/* This gets the most recent N news posts.
                        Change "first 3" to "first N" to include more/less */}}
                        {{ range $key, $entry := first 3 (where site.RegularPages "Type" "news") }}
                        <span class='home_news_top rounded px-2 m-lg-1 my-lg-2 bg-dark' >
                            {{ if gt $key 0 }}
                            {{ else }}
                            {{ end }}
                            <a href="{{ .Permalink }}" title="{{.Title}}" class=''>{{ .Title }}</a>
                        </span>
                        {{ end }}
                    </div>
                </div>
            </div>

        </section>


        <section class='container-fluid'>
            <div class='row justify-content-center'>
                <div class='col-xl-10 col-lg-12'>

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <div class="carousel-inner">
                            {{/* Read all files in this directory and add to carousel */}}
                            {{ range $index, $element := readDir "/static/images/carousel" }}
                            {{ if (eq $index 0) }}
                            <div class="carousel-item active">
                                {{ else }}
                                <div class="carousel-item">
                                    {{ end }}
                                    <a href="images/carousel/{{ .Name }}" target="_blank">
                                        <img class="d-block w-100" src="images/carousel/{{ .Name }}" alt="RawTherapee Screenshot">
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">
                                    {{ i18n "previous" }}
                                </span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">{{ i18n "next" }}</span>
                            </a>
                        </div>

                    </div>
                </div>
        </section>


        {{ .Content }}

        <div class='container mt-5'>
            <div class='row'>
                <div class='col-12 text-center'>
                    <img src='images/ornament1.svg' height=40>
                </div>
            </div>
        </div>

        <section class='container mt-5'>
            <div class='row justify-content-center'>
                <div class='col-lg-10'>

                    <h2 class='border-bottom mb-4 border-secondary'>{{ i18n "latestNews" }}</h2>

                    {{ range first 3 (where site.RegularPages "Type" "news") }}
                    <div class='mb-5'>
                        <h4 class='mb-0'><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        {{ if not .Date.IsZero }}
                        <time class="font-italic mb-1 d-block" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            <small>
                                {{- .Date.Format (.Site.Params.dateform | default "02 Jan 2006") }}
                                {{ with .Params.author }}
                                by
                                {{ . -}}
                                {{ end }}
                            </small>
                        </time>
                        {{ end }}
                        <p>
                        {{/* .Summary | safeHTML */}}
                        {{ if .Truncated }}
                        {{ .Content | safeHTML | truncate 515 -}}
                        <span>
                            <strong><a href="{{ .Permalink }}">{{ i18n "readMore" }}</a></strong>
                        </span>
                        {{ else }}
                        {{ .Content }}
                        {{- end }}
                        </p>
                    </div>
                    {{ end }}


                    <div class='d-flex flex-column flex-md-row justify-content-center'>
                        <a href="news" class="btn btn-outline-warning px-4 mr-2 my-2">{{ i18n "newsArchive" }}</a>
                        <a href="news/index.xml" class="btn btn-outline-danger px-4 mr-2 my-2 ">
                            <svg height="1em" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="windows" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-windows fa-w-14 fa-2x"><path fill="currentColor" d="m 128.081,383.95939 c 0,35.369 -28.672,64.041 -64.041,64.041 -35.369,0 -64.04,-28.672 -64.04,-64.041 0,-35.369 28.672,-64.041 64.041,-64.041 35.369,0 64.04,28.673 64.04,64.041 z m 175.66,47.25 c -8.354,-154.6 -132.185,-278.587 -286.95,-286.95 C 7.656,143.76539 0,151.10539 0,160.25339 v 48.069 c 0,8.415 6.49,15.472 14.887,16.018 111.832,7.284 201.473,96.702 208.772,208.772 0.547,8.397 7.604,14.887 16.018,14.887 h 48.069 c 9.149,10e-4 16.489,-7.655 15.995,-16.79 z m 144.249,0.288 C 439.596,197.67739 251.465,8.4453909 16.503,0.01039086 7.473,-0.31360914 0,6.9813909 0,16.016391 v 48.068 c 0,8.625 6.835,15.645 15.453,15.999 191.179,7.839 344.627,161.315999 352.465,352.464999 0.353,8.618 7.373,15.453 15.999,15.453 h 48.068 c 9.034,-0.001 16.329,-7.474 16.005,-16.504 z" class=""></path></svg>
                            {{ i18n "rssFeed" }}</a>
                    </div>

                </div>


            </div>
        </section>


        {{ if .IsTranslated }}
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
            <li><a href="{{ .Permalink }}">
                    {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ end }}
