{{ define "main" }}

<section class="page container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="page-title">{{ i18n "pagesTagged" }} {{ .Title }}</h1>
            <ul class="posts">
                {{ range .Data.Pages -}}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if not .Date.IsZero }}
                    <small>
                        (<time>
                            {{- .Date.Format (.Site.Params.dateform | default "2006-01-02") -}}
                        </time>)
                    </small>
                    {{end}}
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
</section>

{{ end }}
