.homepage section {
    margin-top: 3rem;
}

/* Color Wheel Background */
#wheel-1 {
    position: absolute;
    width: 25vw;
    overflow: hidden;
    right: 0;
}
#wheel-1 img {
    width: 50vw;
}
#wheel-2 {
    position: absolute;
    width: 20vw;
    overflow: hidden;
    left: 0;
    top: 30vh;
}
#wheel-2 img {
    width: 40vw;
    margin-left: -30vw;
}
#wheel-3 {
    position: absolute;
    width: 5vw;
    overflow: hidden;
    right: 0;
    top: 72vh;
    z-index: 2;
}
#wheel-3 img {
    width: 25vw;
}


/* Download Buttons */
/* ---------------- */
.dl-buttons {
    margin-top: 2rem;
    position: relative;
    z-index: 1;
}
.dl-btn {
    text-align: left;
    width: 170px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 3.5rem;
    background-color: var(--dark);
}
.dl-btn svg {
    float: left;
    height: 2.5rem;
    margin-right: 0.5rem;
}
.dl-type {
    color: orange;
    font-size: 0.8rem;
    display: flex;
    margin-bottom: -0.2rem;
}
.dl-os {
    font-weight: bold;
    font-size: 1.2rem;
}

@media(min-width: 992px) {
    .colorbox {
        height: 2vw;
        width: 50vw;
    }
    .cb-orange {
        background: rgb(255,244,46);
        background: linear-gradient(15deg, rgba(254,171,39,1) 0%, rgba(253,76,11,1) 66%);
    }
    .cb-green {
        background: rgb(188,237,2);
        background: linear-gradient(15deg, rgba(188,237,2,1) 0%, rgba(56,193,2,1) 66%);
    }
    .cb-blue {
        background: rgb(1,212,237);
        background: linear-gradient(15deg, rgba(1,212,237,1) 0%, rgba(1,147,190,1) 66%);
    }
    .cb-pink {
        background: rgb(252,18,170);
        background: linear-gradient(15deg, rgba(252,18,170,1) 0%, rgba(217,21,102,1) 66%);
    }
}
