<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

{{/*<!-- NOTE: Vendor Scripts -->*/}}
{{ $jquery := resources.Get "/node_modules/jquery/dist/jquery.min.js" }}

{{ $javascript := slice $jquery | resources.Concat "/js/jquery.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{ $popper := resources.Get "/node_modules/popper.js/dist/popper.js" }}

{{ $javascript := slice $popper | resources.Concat "/js/popper.js" }}
<script src="{{ $javascript.Permalink }}" type="module"></script>

{{ $bootstrap := resources.Get "/node_modules/bootstrap/dist/js/bootstrap.js" }}

{{ $javascript := slice $bootstrap | resources.Concat "/js/bootstrap.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{/*<!-- NOTE: User Scripts -->*/}}
{{ $app := resources.Get "/js/app.js" }}

{{ $javascript := slice $app | resources.Concat "/js/app.js" }}
<script src="{{ $javascript.Permalink }}"></script>
