<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light fixed-top" id="mainNav">
    <div class='container'>
        <a class="navbar-brand" href="{{ .Site.BaseURL}}" rel="home" title="{{ .Site.Title }}">
            {{/* {{ .Site.Title | safeHTML }}  */}}
            <img src="{{ .Site.BaseURL }}images/rt-logo-white.svg">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{.URL}}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                {{end}}
            </li>
        </ul>

        </div>
    </div>
</nav>
